/*common shared style*/
body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFFF;
    font-size: 20px;
    font-style: normal;
    padding: 15px 35px;
}

/*nav related style*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-tittle {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;

}

/*header section */
.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
}

.p-class {
    color: #757575;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
    line-height: 30px;
    width: 585px;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
}

.banner-tittle {
    font-size: 85px;
    font-weight: 700;
}

.about {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    background: #FFF8F3;
    width: 1140px;
    height: 550px;
    margin: 130px 0px;
    padding: 130px;
}

.section-tittle {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

/*main section styles*/
main {
    max-height: 1140;
}

.info-tittle {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    text-align: center;


}

.about-info-container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 909px;
    margin: auto
}

.img-tittle {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.img-description {
    color: #757575;
    font-size: 16px font-weight: 400;
    width: 201px;

}

.skill-container {
    display: flex;
    padding: 90px;
    justify-content: space-around;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/*resume-column-tittle*/
.resume-column-tittle {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-item-tittle {
    color: #474747;
    font-size: 25px;
    font-weight: 700;

}

.resume-item-institue {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resume-item-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    width: 511px;
}

.resume-container {
    display: flex;
    gap: 50px;
    margin-left: 180px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    margin-left: 180px;
    gap: 50px;
}

.footer-item-tittle {
    color: #181818;

    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 100px;
}

.footer-item-description {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    width: 562px;
    margin-bottom: 30px;
}

.footer-icon {
    align-items: center;
    justify-content: space-between;
}

.contact input,
textarea {
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}